@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --blue: #1e90ff;
    --cool: #ed462b;
    --bg_black: black;
    --vx: #161616;
    --text: white;
}
h2,h3{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
header img{
    display: block;
    margin: 1rem auto;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg_black);
    color: var(--text);
}

.home .home-content .center{
    position: relative;
    margin: 0 5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--bg_black);
    border-radius: 4rem;
    font-size: 1.7rem;
    color: var(--cool);
    letter-spacing: .3rem;
    border: 2px solid var(--cool);
    cursor: pointer;
}
.btn:hover{
    transition:  .3s ease-in-out;
    transform: scale(1.1);
    background-color: var(--cool);
    color: var(--bg_black);
    box-shadow: 0  0 25px var(--cool);
}
.btn:active{
    transform: scale(0.9);
}
.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
    margin-left: 8px;
}

.typing-text span::before {
    content: "";
    color: var(--cool);
    animation: words 20s infinite;
}

.typing-text2 span::before {
    content: "";
    color: var(--cool);
    animation: words2 20s infinite;
}

.typing-text span::after, .typing-text2 span::after {
    content: '';
    background-color: var(--bg_black);
    position: absolute;
    height: 100%;
    width: 100%; 
    border-left: 3px solid var(--cool); 
    right: 0; 
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite; 
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--cool);
    }
}

@keyframes words {
    0%, 100% {
        content: "CYber Committee";
    }
}

@keyframes words2 {
    0%, 100% {
        content: "Welcome Back N....";
    }
}

@keyframes typing {
    10%, 15%, 
    30%, 35%, 
    50%, 55%, 
    70%, 75%, 
    90%, 95% {
        width: 0;
    }
    5%, 20%, 
    25%, 40%, 
    45%, 60%, 
    65%, 80%, 85% {
        width: calc(100% + 1px);
    }
}


.heading{
    font-size: 4rem;
}

/* Contact Me */

.contact h2{
    margin: 3rem 16rem;
    color: white;
}
.contact form{
    max-width: 60rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    margin: 1rem 0;
    font-size: 1.6rem;
    color: var(--cool);
    background-color: var(--vx);
    border-radius: .8rem;
    border: 2px solid var(--cool);
    resize: none;
}
.contact form .btn{
    margin: 2rem 0;
}

.reflection{
    text-align: center;
}
.reflection h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.reflection p{
    font-size: 2rem;
}
.next{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.next .btn{
    border-color: var(--blue);
    color: var(--blue);
}
.next .btn:hover{
    background-color: var(--blue);
    color: var(--bg_black);
    box-shadow: 0  0 25px var(--blue);
}
